PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=bob
DB_PASSWORD=bob1
DB_NAME=brasil

JWT_SECRET=chave-secreta-do-meu-projeto-2026

GOOGLE_CLIENT_ID=COLOQUE_SEU_CLIENT_ID
GOOGLE_CLIENT_SECRET=COLOQUE_SEU_CLIENT_SECRET
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

FRONTEND_URL=http://localhost:5173
